# Virtual Environment
venv/
.venv/
env/

# Cache Python & Bytecode
__pycache__/
**/__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd

# Database lokal / File sensitif
*.db
*.sqlite
*.sqlite3
.env
!.env.example


# Folder IDE
.vscode/
.idea/

# Flask instance folder
instance/

#editor.
.vscode/